body {
	background-image: url("../images/darkWood.png");
	background-repeat: repeat;
	background-color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 16px;
	text-decoration: none;
	/*position: absolute;*/
	height: 100%;
}

header {
	height:100px;
	width: 100%;
	background-color: #ffffff;
	border-color: #cccccc;
	position: fixed;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	top: 0px;
	left: 0px;
	z-index: 20;
}

section {
	clear: both;
	width: 100%;
	position: relative;
	top: 125px;
	z-index: 1;
}

footer {
	position: fixed;
	width: 100%;
	background-color: #666666;
	bottom: 0px;
	left: 0px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 4px;
	z-index: 20;
}

h1 {
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
	border-bottom-width: 2px;
}

h4 {
	color: #777777;
	font-size: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	width: 500px;
}

li {
	float: right;
	border-right: 1px solid #777777;
}

li a {
    display: block;
    color: #777777;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #dddddd;
}

li:first-child {
    border-right: none;
}

/*a {
	text-decoration: none;
	color: #777777;
	font-size: 20px;
	padding-left: 4px;
	padding-right: 4px;
}

a:hover {
	color: #ffffff;
	background-color: #4aaaa5;
}*/

.headerArea {
	width:960px;
	position: relative;
	background-color: #777777;
	margin:auto;
	z-index: 10;
}

.contentArea {
	position: relative;
	background-color: #ffffff;
	width: 920px;
	padding: 20px;
	margin: auto;
	border-radius: 15px;
	z-index: 1;
}

.portfolioTitle {
	position: relative;
	height: 100px;
	width: 300px;
	top: 0px;
	left: 0px;
	background-color: #4aaaa5;
	float: left;
	text-align: center;
	line-height: 100px;
	z-index: 20;
}

.portfolioNavigation {
	text-decoration: none;
	float: right;
	line-height: 30px;
	position: relative;
	top: 25px;
	right: 0px;
	z-index: 20;
}

.imagePaul {
	float: left;
	width: 300px;
	height: 400px;
	z-index: 2;
	position: relative;
}

.mainText {
	float: left;
	width: 600px;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 2;
	position: relative;
}

.footerText {
	color: #ffffff;
	text-align: center;
	position: relative;
	bottom: 0px;
}

.active {
	color: #ffffff;
	background-color: #4aaaa5 !important;
}

.verticalCenter {
  	margin: auto;
 	position: absolute;
  	top: 0px; left: 0px; bottom: 0px; right: 0px;
}

.clearFix::after {
    content: "";
    clear: both;
    display: table;
}