html { 
	width: 100vw;
    overflow-x: hidden; 
}

*:focus {
	outline: none;
}

body {
	background-image: url("../images/darkWood.png");
	background-repeat: repeat;
	background-color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 16px;
	text-decoration: none;
	height: 100%;
}

header {
	height:100px;
	width: 100vw;
	background-color: #ffffff;
	border-color: #cccccc;
	position: fixed;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	top: 0px;
	left: 0px;
	z-index: 20;
}

section {
	clear: both;
	width: 100%;
	position: relative;
	top: 125px;
	z-index: 1;
}

footer {
	position: fixed;
	width: 100vw;
	background-color: #666666;
	bottom: 0px;
	left: 0px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 4px;
	z-index: 20;
}

h1 {
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
	border-bottom-width: 2px;
}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
	border-bottom-width: 1px;
}

h4 {
	color: #777777;
	font-size: 16px;
	padding: 2px;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	width: 500px;
}

li {
	float: right;
	border-right: 1px solid #4aaaa5;
}

li a {
    display: block;
    color: #777777;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover, li a:active, li a:focus {
    background-color: #dddddd;
}

li:first-child {
    border-right: none;
}

input[type="text"] {
	width: 100%;
	padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #777777;
    border-radius: 5px;
    color: #777777;
}

input[type="text"]:focus {
	border: 1px solid #4aaaa5;
}

input[type="email"] {
	width: 100%;
	padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #777777;
    border-radius: 5px;
    color: #777777;
}

input[type="email"]:focus {
	border: 1px solid #4aaaa5;
}

input[type="email"]:invalid {
	border-left: 3px solid red;
}

input[type=submit] {
	background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 16px 32px;
    text-decoration: none;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
}

input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
	background-color: #777777;
}

input[type=submit]::-moz-focus-inner {
  border: 0;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #777777;
    resize: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

textarea:focus {
	border: 1px solid #4aaaa5;
}

.connectSocial {
	border-right-style: none;
	float: left;
	padding: 0px;
	margin: 10px;
}

.headerArea {
	width:960px;
	position: relative;
	background-color: #777777;
	margin:auto;
	z-index: 10;
}

.contentArea {
	position: relative;
	background-color: #ffffff;
	width: 920px;
	padding: 20px;
	margin: auto;
	margin-bottom: 200px;
	border-radius: 15px;
	z-index: 1;
}

.contactContentArea {
	position: relative;
	width: 960px;
	margin: auto;
	z-index: 1;
}

.contactFormArea {
	background-color: #ffffff;
	position: relative;
	width: 520px;
	float: left;
	padding: 20px;
	border-radius: 15px;
	z-index: 1;
}

.contactConnectArea {
	background-color: #ffffff;
	position: relative;
	width: 300px;
	float: right;
	padding: 20px;
	border-radius: 15px;
	z-index: 1;
}

.projectsContainer {
	position: relative;
	width: 920px;
	margin: auto;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
	z-index: 1;
}

#portfolioProject1 {
	height: 200px;
	width: 300px;
	margin: 10px;
	background-color: #777777;
	position: relative;
	background-image: url('http://placehold.it/300x200');
}

#portfolioProject2 {
	height: 200px;
	width: 300px;
	margin: 10px;
	background-color: #777777;
	position: relative;
	background-image: url('http://placehold.it/300x200');
}

#portfolioProject3 {
	height: 200px;
	width: 300px;
	margin: 10px;
	background-color: #777777;
	position: relative;
	background-image: url('http://placehold.it/300x200');
}

#portfolioProject4 {
	height: 200px;
	width: 300px;
	margin: 10px;
	background-color: #777777;
	position: relative;
	background-image: url('http://placehold.it/300x200');
}

#portfolioProject5 {
	height: 200px;
	width: 300px;
	margin: 10px;
	background-color: #777777;
	position: relative;
	background-image: url('http://placehold.it/300x200');
}

.portfolioDivLabel {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 5px 0px 5px 0px;
}

.portfolioTitle {
	position: relative;
	height: 100px;
	width: 300px;
	top: 0px;
	left: 0px;
	background-color: #4aaaa5;
	float: left;
	text-align: center;
	line-height: 100px;
	z-index: 20;
	border-radius: 5px;
}

.portfolioNavigation {
	text-decoration: none;
	float: right;
	line-height: 30px;
	position: relative;
	top: 25px;
	right: 0px;
	z-index: 20;
}

.imagePaul {
	float: left;
	width: 300px;
	height: 400px;
	z-index: 2;
	position: relative;
}

.mainText {
	float: left;
	width: 600px;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 2;
	position: relative;
}

.footerText {
	color: #ffffff;
	text-align: center;
	position: relative;
	bottom: -10px;
}

.active {
	color: #ffffff;
	background-color: #4aaaa5 !important;
}

.verticalCenter {
  	margin: auto;
 	position: absolute;
  	top: 0px; left: 0px; bottom: 0px; right: 0px;
}

.clearFix::after {
    content: "";
    clear: both;
    display: table;
}

#connectGithub {
	padding: 0px;
	margin: 0px;
	height: 80px;
	width: 80px;
	background-image: url('../images/github.png');
}

#connectGithub:hover, #connectGithub:active, #connectGithub:focus {
	background-image: url('../images/github2.png');
	background-color: #ffffff;
}

#connectLinkedin {
	padding: 0px;
	margin: 0px;
	height: 80px;
	width: 80px;
	background-image: url('../images/linkedin.png');
}

#connectLinkedin:hover, #connectLinkedin:active, #connectLinkedin:focus {
	background-image: url('../images/linkedin2.png');
	background-color: #ffffff;
}

#connectStackoverflow {
	padding: 0px;
	margin: 0px;
	height: 80px;
	width: 80px;
	background-image: url('../images/stackoverflow.png');
}

#connectStackoverflow:hover, #connectStackoverflow:active, #connectStackoverflow:focus {
	background-image: url('../images/stackoverflow2.png');
	background-color: #ffffff;
}